@import "reset";
@import "color";
@import "mixin";
@import "extend";

body{
  @extend %common;
}
.row{
  @extend %flex;
}
header{
  width: calc(100% - 100px);
  margin: auto;
  .row{
    justify-content: space-between;
    .logo{
      @extend %col-2;
    }
    nav{
      @extend %col-6;
    }
    .contact{
      @extend %col-4;
    }
  }
}