@import "reset";
@import "color";
@import "mixin";
@import "extend";

body {
  @extend %common;
}
.row {
  @extend %flex;
}
header {
  width: calc(100% - 100px);
  margin: auto;
  .row {
    justify-content: space-between;
    align-items: center;
    .logo {
      @extend %col-2;
      a {
        img {
          display: block;
          max-width: 100%;
        }
      }
    }
    nav {
      @extend %col-6;
      ul {
        @extend %flex;
        justify-content: center;
        li {
          list-style-type: none;
          a {
            display: block;
            @extend %common;
            @extend %padding;
            text-decoration: none;
            font-size: 20px;
            color: #000;
          }
        }
      }
    }
    .contact {
      @extend %col-4;
      a {
        background-color: $themeColor;
        color: #fff;
        @extend %padding;
        text-decoration: none;
        border-radius: $radius;
      }
    }
  }
}

section{
  width: calc(100% - 400px);
  margin: auto;
  padding: 100px 0;
  a{
    color: $themeColor;
    @extend %common;
    font-size: 30px;
    text-decoration: none;
    border-bottom: 2px solid;
    padding-bottom: 5px;
  }
}
h1{
  @extend %common;
  font-size: 70px;
  font-weight: 600;
  line-height: 1;
}
p{
  @extend %common;
}
