$theme-color: #FFFFFF;

%commonCSS {
  font-family: cursive;
  color: #333;
  line-height: 1.5;
  font-size: 18px;
}

body {
  background-color: $theme-color;
  @extend %commonCSS;
}

ul{
  margin: 0;
  padding: 0;
  li{
    list-style-type: none;
    a{
      @extend %commonCSS;
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
    }
    a:hover{
      color: cadetblue;
    }
  }
}